<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>파일 업로드 실습</h1>
    <form action="/result" method="post" enctype="multipart/form-data">
      <label for="userId">아이디 : </label>
      <input type="text" name="userId" id="userId" />
      <br />
      <label for="password">패스워드 : </label>
      <input type="password" name="pw" id="pw" />
      <br />
      <label for="username">이름 : </label>
      <input type="text" name="username" id="name" />
      <br />
      <label for="age">나이 : </label>
      <input type="number" name="age" id="age" /> <br />
      <label for="profile">프로필 사진 : </label>
      <input type="file" name="profile" id="profile" /><br />
      <button type="button" onclick="resetFields()">리셋</button>
      <button type="submit" onclick="fileupload()">회원가입</button>
    </form>

    <br />
    <div class="result"></div>
    <script>
      //리셋 버튼
      function resetFields() {
        document.getElementById('username').value = '';
        document.getElementById('password').value = '';
        document.getElementById('name').value = '';
        document.getElementById('age').value = '';
        const fileInput = document.querySelector('input[type="file"]');
        fileInput.value = '';
        const resultBox = document.querySelector('.result');
        resultBox.innerHTML = '';
      }

      const resultBox = document.querySelector('.result');
      function fileupload() {
        const file = document.getElementById('dynamic-userfile');
        console.log(file.files[0]);
        const formData = new FormData();
        formData.append('dynamic-userfile', file.files[0]);

        axios({
          method: 'POST',
          url: '/dynamicFile',
          data: formData,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        }).then((res) => {
          console.log('res', res);
          resultBox.innerHTML = `<div><img src=${res.data.path}></div>`;
        });
      }

      const form = document.querySelector('form');
      form.addEventListener('submit', function (event) {
        // 데이터 전송을 막지 않기 위해 preventDefault()를 사용하지 않음.
        // 서버로 데이터를 전송하고, 페이지 이동을 기본 동작으로 수행함.
        fileupload();
      });
    </script>
  </body>
</html>
