<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>채팅창 UI 실습</h1>
    <br />
    <a href="/chat">채팅창 들어가기</a>
  </body>
</html>
