<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원 정보 추가</h1>
    <br />
    이름: <input type="text" id="userid" placeholder="이름" /><br />
    종류: <input type="text" id="name" placeholder="종류" /><br />
    나이: <input type="text" id="age" placeholder="나이" /><br />
    국가: <input type="text" id="country" placeholder="국가" /><br />
    코멘트: <input type="text" id="comment" placeholder="댓글" /><br />
    <button>회원 추가</button>
  </body>
</html>
