<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원 리스트</h1>
    <a href="/">home</a>
    <br />
    <ul>
      <% for (let i = 0; i < lists.length; i++) { %>
      <li>
        <b>이름: <%= lists[i].userid %></b><br />
        <b>종류: <%= lists[i].name %></b><br />
        <b>나이: <%= lists[i].age %></b><br />
        <b>국가: <%= lists[i].country %></b><br />
      </li>
      <% } %>
    </ul>
    <a href="/add">회원 정보 추가</a>
  </body>
</html>
